@{
    ViewData["Title"] = "Успешное восстановление пароля";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль был восстановлен. <a asp-controller="Account" asp-action="Login">Нажмите здесь, чтобы войти</a>.
</p>
