@{
    ViewData["Title"] = "О системе";
}
<h2 class="page-title">@ViewData["Title"]</h2><br />

<div>
    <h4>NURE Marks - это система, выполняющая роль зачётки для студента и электронного журнала для университета</h4><br />
    <h4>Главная цель продукта - предоставление удобного средства для просмотра своих оценок и понимания новой стипендиальной системы в Украине.</h4>
</div>