@{
    ViewData["Title"] = "Про систему";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3><br />

<p>Nure Marks - це система, яка виконує роль електронної заліковки для студента ХНУРЕ і електронного журналу для викладача та інших користувачів.</p><br />
<p>Головна мета продукту - надання зручного засіб для перегляду своїх оцінок і спрощення розуміння нової стипендіальної системи України.</p>
