@{
    ViewData["Title"] = "Контакты";
}
<h2 class="page-title">@ViewData["Title"]</h2><br />

<div class="text-center">
    <address>
        Харьковский национальный университет радиоэлектроники<br />
        Харьков, пр. Науки, 14<br />
    </address>

    <address>
        <strong>Максим	Пигнастый - Бизнес-аналитик:</strong> <a href="mailto:maksym.pihnastyi@nure.ua">maksym.pihnastyi@nure.ua</a><br />
        <strong>Максим	Шопинский - Гловний разработчик:</strong> <a href="mailto:maksym.shopynskyi@nure.ua">maksym.shopynskyi@nure.ua</a><br />
        <strong>Евгений	Надточий - Front-End разработчик:</strong> <a href="mailto:yevhenii.nadtochii@nure.ua">yevhenii.nadtochii@nure.ua</a><br />
        <strong>Владимир Майборода - Back-End разработчик:</strong> <a href="mailto:volodymyr.maiboroda@nure.ua">volodymyr.maiboroda@nure.ua</a><br />
        <strong>Виктория Клепикова - Тестировщик:</strong> <a href="mailto:maksym.pihnastyi@nure.ua">viktoriia.kliepikova@nure.ua</a><br />
    </address>
</div>
