@{
    ViewData["Title"] = "Контакти";
}
<h2>@ViewData["Title"].</h2><br />

<address>
    Харківський національний університет радіоелектроніки<br />
    Харків, пр. Науки, 14<br />
</address>

<address>
    <strong>Максим	Пігнастий - Бізнес-аналітик:</strong> <a href="mailto:maksym.pihnastyi@nure.ua">maksym.pihnastyi@nure.ua</a><br />
    <strong>Максим	Шопинський - Головний розробник:</strong> <a href="mailto:maksym.shopynskyi@nure.ua">maksym.shopynskyi@nure.ua</a><br />
    <strong>Євгеній	Надточій - Front-End розробник:</strong> <a href="mailto:yevhenii.nadtochii@nure.ua">yevhenii.nadtochii@nure.ua</a><br />
    <strong>Володимир Майборода - Back-End розробник:</strong> <a href="mailto:volodymyr.maiboroda@nure.ua">volodymyr.maiboroda@nure.ua</a><br />
    <strong>Вікторія Клепікова - Тестувальник:</strong> <a href="mailto:maksym.pihnastyi@nure.ua">viktoriia.kliepikova@nure.ua</a><br />
</address>
