
@{
    ViewData["Title"] = "Список студентов";
}
<h3>Смартфоны</h3>
<table class="table-condensed">
    <tr>
        <td>Имя</td>
        <td>Группа</td>
        <td>Рейтинг</td>
        <td>Комментарий</td>
    </tr>
    @foreach (object p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Group</td>
            <td>@p.Rating</td>
            <td>@p.Note</td>
        </tr>
    }
</table>