@{
    ViewData["Title"] = "Списки специальностей";
}

<h2 class="faculties-header page-title">@ViewData["Title"]</h2><br />
<div class="form-group search-form input-group">
    <input class="form-control input-lg" id="search-field" type="text" autofocus="" placeholder="Введите имя студента ">
    <span class="input-group-btn">
        <a class="btn btn-default" id="search-button">Искать</a>
    </span>
</div>
<div id="course-list">
    <ul class="list-inline">
        <li class="btn btn-success highlight">1 курс</li>
        <li class="btn btn-success">2 курс</li>
        <li class="btn btn-success">3 курс</li>
        <li class="btn btn-success">4 курс</li>
        <li class="btn btn-success">5 курс</li>
        <li class="btn btn-success">6 курс</li>
    </ul>
</div>
    <div class="panel-group" id="collapse-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#collapse-group" href="#faculty6">Факультет комп'ютерних наук (КН)</a>
                </h4>
            </div>
            <div id="faculty6" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="dep first">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="1" asp-route-dep="ПЗПІ">ПЗПІ</a>
                    </div>
                    <div class="dep first">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="1" asp-route-dep="ІТКН">ІТКН</a>
                    </div>
                    <div class="dep first">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="1" asp-route-dep="ІТКНу">ІТКНу</a>
                    </div>
                    <div class="dep first">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="1" asp-route-dep="ВПВПС">ВПВПС</a>
                    </div>
                    <div class="dep second">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="2" asp-route-dep="ПІ">ПІ</a>
                    </div>
                    <div class="dep second">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="2" asp-route-dep="КН">КН</a>
                    </div>
                    <div class="dep second">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="2" asp-route-dep="ВПС">ВПС</a>
                    </div>
                    <div class="dep third">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="3" asp-route-dep="ПІ">ПІ</a>
                    </div>
                    <div class="dep third">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="3" asp-route-dep="КН">КН</a>
                    </div>
                    <div class="dep third">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="3" asp-route-dep="ВПС">ВПС</a>
                    </div>
                    <div class="dep fourth">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="4" asp-route-dep="ПІ">ПІ</a>
                    </div>
                    <div class="dep fourth">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="4" asp-route-dep="КН">КН</a>
                    </div>
                    <div class="dep fourth">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="4" asp-route-dep="ВПС">ВПС</a>
                    </div>
                    <div class="dep fifth">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="5" asp-route-dep="ІПЗ_ПЗС">ІПЗ ПЗС</a>
                    </div>
                    <div class="dep fifth">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="5" asp-route-dep="КТСВПВ_ТЕМВ">КТСВПВ ТЕМВ</a>
                    </div>
                    <div class="dep fifth">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="5" asp-route-dep="ІТП_ІУСТ_СПР_СШІ">ІТП ІУСТ СПР СШІ</a>
                    </div>
                    <div class="dep sixth">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="6" asp-route-dep="ІПЗ_ПЗС">ІПЗ ПЗС</a>
                    </div>
                    <div class="dep sixth">
                        <a class="btn btn-info big-btn" asp-area="" asp-controller="Ratings" asp-action="Ratings" asp-route-course="6" asp-route-dep="КТСВПВ_ТЕМВ">КТСВПВ ТЕМВ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
