@{
    ViewData["Title"] = "Топ-100 рейтингов";
    int i = 1;

}

<h2 class="page-title">Топ 100 рейтингов ХНУРЭ</h2><br />
<table class="table ratings-table">
    <thead>
        <tr>
            <th>№</th>
            <th>П.І.Б.</th>
            <th>Група</th>
            <th>Рейтинг</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
            {
            <tr>
                <td>@(i++)</td>
                <td>@p.Name</td>
                <td>@p.Group</td>
                <td>
                    <div class="rate">@p.Rating</div>
                </td>
            </tr>
        }
    </tbody>
</table>



