@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Изменение пароля";
}

<h2 class="page-title">@ViewData["Title"]</h2>

<div class="text-center">
    <form asp-controller="Profile" asp-action="ChangePassword" method="post" class="form-horizontal login-form">
        <hr /><br />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Старый пароль</label>
            <div>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Новый пароль</label>
            <div>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Повторите пароль</label>
            <div>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-default">Сменить пароль</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
